@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap');
html, body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
}

* {
  box-sizing: border-box;
}

code {
  font-family: 'Roboto Slab', serif;
}

#root {
  height: 100vh;
}
